{% extends './base.html' %}
{% load note_control %}
{% block title %}{{song_name}}-{{artist_name}}{% endblock title %}
{% block page_name %}Song Detail{% endblock page_name %}

{% comment %} メインコンテンツ {% endcomment %}
{% block content %}
<div class="hero is-warning is-bold is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-gray">{{song_name}}</h1>
        </div>
    </div>
</div>
<div class="hero is-white is-small">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <ul class="subtitle is-5">
                        作詞
                        {% for lyricist in lyricists %}
                        <li><a href="{% url 'ranges:detail_artist' lyricist.pk %}" class="has-text-link subtitle is-7">
                                {{lyricist.artist_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column">
                    <ul class="subtitle is-5">
                        作曲
                        {% for composer in composers %}
                        <li><a href="{% url 'ranges:detail_artist' composer.pk %}" class="has-text-link subtitle is-7">
                                {{composer.artist_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if arrangers %}
                <div class="column">
                    <ul class="subtitle is-5">
                        編曲
                        {% for arranger in arrangers %}
                        <li><a href="{% url 'ranges:detail_artist' arranger.pk %}" class="has-text-link subtitle is-7">
                                {{arranger.artist_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if genre_name.pk == "VC" %}
                <div class="column">
                    <ul class="subtitle is-5">
                        ボーカロイド
                        {% for performer in performers %}
                        <div class="card is-shadowless">
                            <li><a href="{% url 'ranges:detail_artist' performer.pk %}"
                                    class="has-text-link subtitle is-7"> {{performer.artist_name}}</a></li>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                <div class="column">
                    <ul class="subtitle is-5">
                        アーティスト
                        {% for performer in performers %}
                        <div class="card is-shadowless">
                            <li><a href="{% url 'ranges:detail_artist' performer.pk %}"
                                    class="has-text-link subtitle is-7">
                                    {{performer.artist_name}}</a></li>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="columns is-6">
                {% if not fake_note %}
                <div class="column is-offset-2">
                    最低音：<a href="{% url 'ranges:result_range' lowest_note.pk %}"
                        class="tag {{ lowest_note.pk | color }} is-large">{{lowest_note}}</a>
                </div>
                <div class="column is-5 is-offset-1">
                    最高音：<a href="{% url 'ranges:result_range' highest_note.pk %}"
                        class="tag {{ highest_note.pk | color }} is-large"> {{highest_note}}</a>
                </div>
                {% else %}
                <div class="column is-offset-1">
                    最低音：<a href="{% url 'ranges:result_range' lowest_note.pk %}"
                        class="tag {{ lowest_note.pk | color }} is-large">{{lowest_note}}</a>
                </div>
                <div class="column">
                    最高音：<a href="{% url 'ranges:result_range' highest_note.pk %}"
                        class="tag {{ highest_note.pk | color }} is-large"> {{highest_note}}</a>
                </div>
                <div class="column">
                    フェイク：<a href="{% url 'ranges:result_range' fake_note.pk %}"
                        class="tag {{ fake_note.pk | color }} is-large"> {{fake_note}}</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="hero-footer">
        <div class="column">
            <ul>
                {% if is_original %}
                <li>キー：±0</li>
                {% elif diffError %}
                <li>キー：オリジナル楽曲の音域登録なし</li>
                {% else %}
                <li>キー：{{ diff | key_up_down }}</li>
                {% endif %}
                <li>ジャンル：<a href="{% url 'ranges:result_genre' genre_name.pk%}">{{genre_name}}</a></li>
                {% if release %}
                <li>リリース：{{release}}</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}