{% extends './base.html' %}
{% load note_control %}
{% block title %}検索ページ{% endblock title %}
{% block page_name %}Feel Free to Search{% endblock page_name %}
{% block content %}
{% comment %} Style {% endcomment %}
<style>
    .is-hide {
        display: none;
    }
</style>
<div class="box">
    <div class="tabs is-centered">
        <ul class="tab-group">
            <li class="tab is-active" name="artist"><a>アーティスト検索</a></li>
            <li class="tab" name="note"><a>音域検索</a></li>
            <li class="tab" name="genre"><a>ジャンル検索</a></li>
        </ul>
    </div>
    {# search by artist_name #}
    <div class="panel-content is-show">
        <form class="block">
            <div class="search-box control columns is-mobile">
                <label class="radio column is-2 is-offset-2">
                    <input type="radio" name="kind" value="" checked>
                    ALL
                </label>
                <label class="radio column is-3">
                    <input type="radio" name="kind" value="ar">
                    アーティスト
                </label>
                <label class="radio column is-3">
                    <input type="radio" name="kind" value="vc">
                    ボーカロイド
                </label>
            </div>
        </form>
        <div class="tags block">
            {% for artist in artist_list %}
            <div class="list_item" data-kind="ar">
                <span class="tag is-link is-light">
                    <a href="{% url 'ranges:detail_artist' artist.pk %}" class="has-text-dark">{{artist}}</a>
                </span>
            </div>
            {% endfor %}
            {% for vc in vcs %}
            <div class="list_item" data-kind="vc">
                <span class=" tag is-primary is-light">
                    <a href="{% url 'ranges:detail_artist' vc.pk %}" class="has-text-dark">{{vc}}</a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {# search by note_name #}
    <div class="panel-content tags are-medium">
        <p class="title has-text-dark">登録のあるキー</p>
        {% for note in notes_list %}
        <a href="{% url 'ranges:result_range' note.pk %}">
            <div class="tag {{ note.pk | color }}">
                {{ note }}
            </div>
        </a>
        {% endfor %}
    </div>
    {# search by genre_name #}
    <div class="panel-content tags are-medium">
        <p class="title has-text-dark">登録のあるジャンル</p>
        {% for genre in genre_list %}
        <a href="{% url 'ranges:result_genre' genre.pk %}">
            <div class="tag {{ genre.pk | color }}">
                {{ genre }}
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    jQuery(() => {
        // 絞り込みリストに変化があれば
        $('.search-box').on('change', 'input', function () {
            search_filter();
        });
    });
    // リストの絞り込み
    function search_filter() {
        $('.list_item').removeClass('is-hide');
        var name = $('input[name="kind"]:checked').val();
        if (name !== '') {
            for (var i = 0; i < $('.list_item').length; i++) {
                if ($('.list_item').eq(i).data('kind') !== name) {
                    $('.list_item').eq(i).addClass('is-hide');
                }
            }
        }
    }
</script>
{% endblock scripts %}